@mixin link {
  font-size: 25px;
  text-decoration: none;
}
@mixin card {
  position: relative;
  height: 40px;
  width: 50px;
  background-color: white;
  color: black;
  transition: 0.2s linear;
  cursor: pointer;
  font-size: 2rem;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 0px;
  margin-left: 20px;
}
.cart {
  .container1 {
    background-color: #333;
    padding: 42px;
    height: 180px;
    .atitle {
      font-size: 50px;
      text-align: center;
      color: white;
      margin-top: 35px;
      height: 40px;
      padding-top: 42px;
      padding-bottom: 40px;
    }
    .home {
      @include link;
      color: #EFD330;
      padding-left: 560px;
    }
    .labout {
      @include link;
      color: white;
    }
  }
  .dishes {
    position: relative;
    bottom: 45px;
    text-align: center;
    .dtitle {
      text-align: center;
      margin-top: 60px;
      margin-bottom: 0px;
    }
    .container {
      margin-top: 10px;
      .dcard {
        width: 320px;
        height: 415px;
        display: inline-flex;
        text-align: center;
        border: 2px solid black;
        margin-top: 20px;
        justify-content: center;
        border-radius: 0px;
        margin-left: 20px;
        .diamge {
          width: 150px;
          height: 110px;
          padding-bottom: 10px;
          transition: 0.2s linear;
        }
        .meta {
          float: left;
        }
        .ant-card-meta-description {
          font-size: 20px;
          color: black;
        }
        .row {
          display: flex;
          justify-content: space-between;
          .price {
            margin-top: 15px;
            font-size: 20px;
            position: relative;
            right: 40px;
            color: #999;
          }
          .quantity {
            font-size: 20px;
            margin-top: 15px;
            color: #999;
          }
        }
        .EditFilled {
          border: 2px solid black;
          font-size: 20px;
          position: relative;
          bottom: 56px;
          left: 201px;
          padding: 10px;
          background-color: #EFD330;
          cursor: pointer;
        }
        .ShoppingCartOutlined {
          @include card;
          left: 132px;
          bottom: 365px;
        }
        .paragraph {
          position: relative;
          bottom: 45px;
          font-size: 20px;
          right: 65px;
        }
      }
      // .eyefilled:hover,.ShoppingCartOutlined:hover {
      //   color: black;
      //   border: 2px solid black;
      // }
    }
  }
  .total {
    margin-left: 90px;
    margin-right: 80px;
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
    position: relative;
    bottom: 20px;
    height: 60px;
    width: 87%;
    .price {
      font-size: 24px;
      padding-top: 10px;
      padding-left: 15px;
    }
    .checkout {
      font-size: 20px;
      text-decoration: none;
      color: black;
      padding-top: 5px;
      padding-right: 15px;
      background-color: #EFD330;
      margin: 10px;
      padding-left: 13px;
    }
    .checkout:hover {
      letter-spacing: 2px;
    }
  }
  .btn1 {
    text-align: center;
    .delete {
      font-size: 20px;
      background-color: #E74C3C;
      padding-bottom: 38px;
      padding-right: 25px;
      padding-left: 25px;
      border-radius: 0px;
      color: white;
      margin-bottom: 15px;
    }
    .delete:hover {
      letter-spacing: 2px;
    }
    .link {
      text-decoration: none;
      font-size: 20px;
      color: black;
      background-color: #EFD330;
      padding-right: 25px;
      padding-left: 25px;
      padding-top: 5px;
      padding-bottom: 8px;
    }
    .link:hover {
      letter-spacing: 2px;
    }
  }
  .row {
    margin-top: 22px;
  }
}