.quickview {
  .qdishes {
    text-align: center;
    .qtitle {
      margin-top: 90px;
    }
    .qcontainer {
      // margin-left: 150px;
      margin-top: 10px;
      .qcard {
        width: 320px;
        height: 500px;
        display: inline-flex;
        text-align: center;
        border: 2px solid black;
        margin-top: 20px;
        justify-content: center;
        border-radius: 0px;
        margin-left: 20px;
        .qiamge {
          width: 150px;
          height: 110px;
          padding-bottom: 10px;
          transition: 0.2s linear;
        }
        .meta {
          float: left;
        }
        .ant-card-meta-title {
          font-size: 20px;
          margin-bottom: 0px;
        }
        .ant-card-meta-description {
          font-size: 20px;
          padding-right: 35px;
          color: black;
        }
        .qprice {
          margin-top: 60px;
          padding-right: 193px;
          padding-top: 15px;
          font-size: 23px;
        }
        .qinput {
          border: 2px solid black;
          border-radius: 0px;
          height: 45px;
          width: 85px;
          float: right;
          position: relative;
          bottom: 45px;
        }
        .qbutton {
          width: 100%;
          position: relative;
          bottom: 25px;
          border: 2px solid;
          border-radius: 0px;
          height: 46px;
          font-size: 20px;
        }
        .qbutton:hover {
            color: white;
            background-color: #333;
        }
      }
    }
  }
}
