.body {
    position: relative;
    top: 20px;
    bottom: 45px;
    .title{
        text-align: center;
        font-size: 2.4rem;
        margin-top: 75px;
        margin-bottom: 15px;
        color: #34495e;
    }
    .container {
      margin-top: 10px;
     padding-left: 100px;
     padding-right: 100px;
      .maincard, .subcard {
        width: 350px;
        height: 150px;
        display: inline-flex;
        text-align: center;
        border: 1px solid #34495e;
        justify-content: center;
        border-radius: 0.5rem;
        margin-left: 20px;
        padding: 0px 17px;

        .ant-card-body{
          padding: 0 10px 5px 10px;
        }
        .row{   
          align-items: center;
          margin-bottom: 19px;
          margin-top: 20px;
          .ant-card-meta-title {
            font-size: 18px;
            margin-bottom: 0px;
            color: #59728b;
          }
          .ant-card-meta-description {
            font-size: 17px;
            padding-right: 60px;
            color: #4834d4;
          }
          .price{
            font-size: 18px;
            color: #999;
          }
        }
        .linkrow{
          display: flex;
          justify-content: space-between;

          .link1{
            color: white;
  background-color: #f39c12;
  border-radius: 5px;
  padding: 9px 40px;
  font-size: 1.1rem;
          }
          .link2{
            color: white;
  background-color: #e74c3c;
  border-radius: 5px;
  padding: 0px 40px 42px 40px;
  font-size: 1.1rem;
          }
          .ant-btn{
            padding-top: 7px;
          }
        }
        
        
      }
    
    }
  }