@mixin card {
  position: relative;
  bottom: 400px;
  height: 40px;
  width: 50px;
  border: 2px solid black;
  background-color: white;
  color: black;
  transition: 0.2s linear;
  cursor: pointer;
  font-size: 2rem;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 0px;
  margin-left: 20px;
}

@mixin button {
  background-color: #edf11a;
  font-size: 20px;
  position: relative;
  border-radius: 0px;
}

$hover: 2px;

.home {
  .slider {
    
    .section1 {
      display: flex;
      margin-top: 90px;
      .islider {
        width: 550px;
        height: 550px;
        margin-left: 70px;
      }
      .paragraph {
        font-size: 25px;
        position: relative;
        bottom: 370px;
        left: 920px;
      }
      .stitle {
        position: relative;
        bottom: 440px;
        left: 810px;
        font-size: 55px;
      }
      .btnmenu {
        @include button;
        bottom: 450px;
        padding-top: 6px;
        padding-bottom: 8px;
        padding-left: 25px;
        padding-right: 25px;
        left: 920px;
        color: black;
      }
      .btnmenu:hover {
        letter-spacing: $hover;
      }
    }
  }
  .category {
    position: relative;
    bottom: 125px;
    
    .title {
      text-align: center;
      margin-bottom: 0px;
    }
    .container {
      padding: 0 70px;
      margin-top: 20px;
      .card {
        width: 280px;
        height: 220px;
        display: inline-flex;
        text-align: center;
        border: 2px solid black;
        margin-left: 20px;
        justify-content: center;
        border-radius: 0px;
        cursor: pointer;
        .image {
          width: 150px;
          height: 130px;
        }
        .meta {
          .ant-card-meta-title {
            font-size: 20px;
            padding: 20px;
            color: black;
          }
        }
      }
      .card:hover {
        background-color: black;
        color: white;
      }
      .card:hover .image {
        filter: invert(1);
      }
      .card:hover .ant-card-meta-title {
        color: white;
      }
    }
  }
  .dishes {
    position: relative;
    bottom: 45px;
    text-align: center;
    .dtitle {
      margin-bottom: 0px;
    }
    .container {
      margin-top: 10px;
      .dcard {
        width: 320px;
        height: 430px;
        display: inline-flex;
        text-align: center;
        border: 2px solid black;
        margin-top: 20px;
        justify-content: center;
        border-radius: 0px;
        margin-left: 20px;
        .diamge {
          width: 150px;
          height: 110px;
          padding-bottom: 10px;
          transition: 0.2s linear;
        }
        .meta {
          float: left;
        }
        .ant-card-meta-title {
          font-size: 20px;
          margin-bottom: 0px;
        }
        .ant-card-meta-description {
          font-size: 20px;
          padding-right: 35px;
          color: black;
        }
        .price {
          margin-top: 60px;
          padding-right: 195px;
          padding-top: 15px;
          font-size: 23px;
        }
        .input {
          border: 2px solid black;
          border-radius: 0px;
          height: 45px;
          width: 85px;
          float: right;
          position: relative;
          bottom: 45px;
        }
        .eyefilled {
          @include card;
          right: 54px;
        }
        .ShoppingCartOutlined {
          @include card;
          left: 118px;
        }
      }
      // .eyefilled:hover,.ShoppingCartOutlined:hover {
      //   color: black;
      //   border: 2px solid black;
      // }
    }
  }
  .Link {
    text-align: center;
    .button {
      font-size: 25px;
      text-decoration: none;
      color: black;
      text-align: center;
      // margin-left: 600px;
      background-color: #edf11a;
      padding: 8px 30px;
    }
    .button:hover {
      letter-spacing: $hover;
    }
  }
  .main {
    position: relative;
    top: 10px;
  }
}
