$position: right;

@mixin header {
    position: relative;
    top: 8px;
}

* {
  margin: 0;
  padding: 0;
}


.ant-popover-title{
     margin-top: 6px;
  text-align: center;
  font-weight: bold;
  .ant-typography{
    margin-bottom: 20px;
   }
  .usertext{
    color: #34495e;
    font-size: 18px;
    margin-bottom: 13px;
  }
}

.loginbtn{
  display: flex;
    text-align: center;
    justify-content: center;
  .loginbtninner{
   padding: 0px 100px;
   height: 35px;
    background-color: #fed330;
    color: black;
    font-size: 17px;
    border-radius: 8px;
  }
 
}


.header {
  top: 0px;
  position: fixed;
  overflow: hidden;
  z-index: 1;
  width: 100%;
  margin-top: 0px;
  padding-top: 15px;
  margin-bottom: 20px;
  padding-bottom: 13px;
  border-bottom: 2px solid black;
  background-color: white;
  .title {
    text-decoration: none;
    font-size: 25px;
    color: black;
    margin-left: 100px;
    margin-right: 220px;
    @include header;
  }
  .pages {
    color: #999;;
    text-decoration: none;
    padding: 15px;
    font-size: 20px;
    @include header;
  }
  .icon1,
  .icon2,
  .icon3 {
    float: $position;
    font-size: 27px;
    padding:12px 15px;
    color: #999;
  }
  .icon1 {
    margin-right: 80px;
  }
}
