$color: black;
$position: right;

@mixin header {
    position: relative;
    bottom: 15px;
}

* {
  margin: 0;
  padding: 0;
}

.dropdown {
    font-size: 20px;
    text-align: center;
    margin-top: 15px;
    padding-bottom: 0px;
    margin: 0px;
    padding: 0px;
    height: 20px;
}

.btn { 
  border-radius: 0px;
  margin-left: 55px;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 5px;
  padding-top: 5px;
  font-size: 20px;
  background-color: #edf11a;
}

.header {
  top: 0px;
  position: fixed;
  overflow: hidden;
  z-index: 1;
  width: 100%;
  margin-top: 0px;
  padding-top: 15px;
  margin-bottom: 20px;
  padding-bottom: 13px;
  border-bottom: 2px solid black;
  background-color: white;
  .title {
    text-decoration: none;
    font-size: 25px;
    color: $color;
    margin-left: 100px;
    margin-right: 250px;
    @include header;
  }
  .pages {
    color: $color;
    text-decoration: none;
    padding: 12px;
    font-size: 20px;
    @include header;
  }
  .icon1,
  .icon2,
  .icon3 {
    float: $position;
    font-size: 27px;
    padding: 10px;
  }
  .icon1 {
    margin-right: 90px;
  }
  .icon3 {
    margin-left: 214px;
    color: black;
  }
}
