.login {
    align-items: center;
    .form {
        margin-top: 90px;
        border: 2px solid black;
        width: 530px;
        .formtitle {

        }
        .inputfield {
            width: 200px;
        }
    }
}