.login {
  .form {
    margin-top: 100px;
    border: 2px solid black;
    width: 530px;
    margin-left: 400px;
    .formtitle {
      text-align: center;
      font-size: 30px;
      margin-top: 15px;
      margin-bottom: 20px;
    }
    .inputfield {
      width: 200px;
      .input {
        border: 2px solid black;
        border-radius: 0px;
        width: 485px;
        margin-left: 20px;
        height: 55px;
        margin-bottom: 15px;
        font-size: 20px;
      }
    }
    .loginbutton {
      text-align: center;
      .loginbtn {
        font-size: 20px;
        color: black;
        background-color: #def330;
        padding: 2px 25px 35px 25px;
        margin-bottom: 15px;
      }
      .loginbtn:hover {
        letter-spacing: 2px;
      }
    }
    .lparagraph {
      font-size: 20px;
      margin-left: 97px;
      color: #777;
      .llink {
        color: black;
      }
      .llink:hover {
        text-decoration: underline;
      }
    }
  }
}
