
html {
    background-color: #f5f5f5;
}

.home {
    .facility {
        .title {
            margin-top: 90px;
            text-align: center;
            margin-bottom: 0px;
            color: #34495e;
        }

        .container {
            padding: 0 70px;
            margin-top: 20px;

            .card {
                width: 280px;
                height: 200px;

                display: inline-flex;
                text-align: center;
                border: 2px solid black;
                margin-left: 15px;
                margin-bottom: 20px;
                justify-content: center;
                border-radius: 15px;

                .meta {
                    .ant-card-meta-title{
                        font-size: 1.5rem;
                        color: #34495e;
                       padding: 5px;
                    }
                   
                }
            }
        }
    }
}