* {
    margin: 0%;
    padding: 0%;
}

.deshboard {
    height: 87vh;
    background-color: #f5f5f5;

    .facility {
        .title {
            margin-top: 85px;
            text-align: center;
            color: #34495e;
            padding-top: 15px;
        }

        .container {
            padding: 0 60px;
            margin-top: 22px;
            margin-left: 45px;
            .card {
                width: 365px;
                height: 200px;
                display: inline-flex;
                text-align: center;
                border: 2px solid black;
                margin-left: 15px;
                margin-bottom: 25px;
                justify-content: center;
                border-radius: 15px;

                .meta {
                    .ant-card-meta-title {
                        font-size: 1.5rem;
                        color: #34495e;
                        padding: 5px;
                        padding-bottom: 16px;
                    }
                }

                .Paragraph {
                    color: #777;
                    border: 2px solid black;
                    border-radius: 8px;
                    // height: 35px;
                    padding: 7px;
                    font-size: 20px;
                    background-color: #f5f5f5;
                }

                .link {
                    color: black;
                    font-weight: bold;
                    font-size: 16px;
                    background-color: #6b58c8;
                    color: white;
                    padding: 10px 95px;
                    border-radius: 5px;
                    border: 1px solid black;
                }
            }
        }
    }
}